<p id="notice"><%= notice %></p>
<div class="header">
<h1 style="padding: 5px; font-size:2.5em;">TO-DO <br /> USERs</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>

      <th style="padding: 10px;" colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr style="background-color: #DDE1E5; color: #444F5B;">
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td> <%= link_to 'Show Alarms', user %></td>
        <td> <%= link_to 'Edit', edit_user_path(user) %></td>
        <td> <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="navbar" style="margin-top:0px;">
    <h1 style="font-size:1.5em;"><%= link_to 'Home', root_path %>
</div>

