<p id="notice"><%= notice %></p>

<div class="header"><h1><%= @user.username %> Events:</h1> </div>
</div>

<div class="navbar" style="position:absolute; z-index: 100;">

<div class="links">
<%= link_to 'Home', root_path%>
</div>



<div class="links">
<el onmouseenter= showDiv("dropmenu")>About</el>
<el id="dropmenu" style="display:none;" onmouseleave=hideDiv("dropmenu")>
More about the App <br />
More about the Dev
</el>
</div>

<div class="links" onmouseenter= showDiv("dropbar")>
Users
<el id="dropbar" style="display:none;" onmouseleave=hideDiv("dropbar")>
<%= link_to 'New User', new_user_path %> <br />
<%= link_to 'Alarms', users_path %> 
</el>
</el>
</div>
</div>

<div class="body" style="height: 400px;background-image: none; margin-top:70px;	">
<button onclick="showDiv('hidde')" ondblclick="hideDiv('hidde')">Add</button>

<div id="hidde" style="display:none;">
<%= form_for([@user, @user.events.build]) do |f| %>
<p>
	<strong>Event title: </strong>
	<% f.label :title %> <br>
	<%= f.text_field :title %> <br>
</p>
<p>
	<strong>Date</strong>
	<% f.label :plan_date%> <br>
	<%= f.date_select :plan_date %> <br>
</p>

<p>
	<strong>Time: </strong>
	<% f.label :plan_time%> <br>
	<%= f.time_select :plan_time %> <br>
	</p>
<p>
	<strong>Description: </strong>
	<% f.label :descr%> <br>
	<%= f.text_field :descr %> <br>
	</p>

<p>
	<strong>Alarm </strong>
	<% f.label :alarm%> <br>
	<%= f.check_box :alarm %> <br>
	</p>

<%=f.submit %>
<% end %>
</div>



<button style="float:right;" onclick="showDiv('hider')" ondblclick="hideDiv('hider')">Show</button>
<% @user.events.each do |comment| %>
<div id="hider" style="display:none; background-color: #F0F8FF;">
<p>
	<strong>To-Do: </strong>
	<%= comment.title %>
</p>

<p>
	<strong>Date: </strong>
	<%= comment.plan_date %>
</p>

<p>
	<strong>Time: </strong>
	<%= comment.plan_time %>
</p>
</div>
<% end %>
</div>

<div class="navbar" style="margin-top:0px;">
		<h1 style="font-size:1.5em;"><%= link_to 'Back', users_path %></h1>
</div>